/* 기본 스타일 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  padding: 10px;
  transition: all 0.5s ease;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff; /* 기본 텍스트 색상 */
}

/* 낮과 밤에 따라 배경색과 글자 색상 변경 */
.daytime {
  background-color: #fff;
  color: #333;
}

.nighttime {
  background-color: #333;
  color: #fff;
}

/* 카드 스타일 */
.card {
  width: 100%;
  max-width: 400px; /* 카드 최대 너비를 400px로 제한 */
  height: 100vh;
  perspective: 1000px;
  margin: auto;
}

.card .card-front,
.card .card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  transition: transform 0.6s;
}

.card .card-front {
  background-color: #fff;
  color: #333;
}

.card .card-back {
  background-color: #333;
  color: #fff;
  transform: rotateY(180deg);
}

.card.flipped .card-front {
  transform: rotateY(180deg);
}

.card.flipped .card-back {
  transform: rotateY(0deg);
}

/* 검색 박스 */
.search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-box input {
  padding: 12px;
  width: 250px;
  margin-right: 8px;
  border-radius: 5px;
  border: 2px solid #ddd;
  font-size: 1rem;
  transition: all 0.3s ease;
}

/* 날씨 정보 */
.weatherInfo {
  display: block;
  margin: 20px 0;
  font-size: 1.8em;
}

.weatherIcon {
  width: 100px;
  height: 100px;
  margin: 20px 0;
}

/* 추가 정보 */
.additional-info p {
  font-size: 1.2em;
  margin-top: 10px;
}

/* 시간, 날짜 */
.time,
.date {
  font-size: 1.2em;
  font-weight: 700;
  margin-top: 20px;
}

/* 버튼 */
.flip-button {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.flip-button:hover {
  background-color: #0056b3;
}

/* 지도 스타일 */
.map-section {
  width: 100%;
  height: 100%;
  position: relative;
}

.map-container {
  width: 100%;
  height: 300px; /* 기본 높이를 설정 */
  position: absolute;
  top: 0;
  left: 0;
}
/* 모바일 반응형: 화면 너비가 600px 이하일 때 */
@media (max-width: 600px) {
  .search-box input {
    width: 200px; /* 검색 입력창 너비를 모바일에 맞게 조정 */
  }

  .weatherInfo {
    font-size: 1.4em; /* 날씨 정보 폰트 크기 조정 */
  }

  .weatherIcon {
    width: 80px;
    height: 80px; /* 날씨 아이콘 크기 조정 */
  }

  .additional-info p {
    font-size: 1.1em; /* 추가 정보 폰트 크기 조정 */
  }

  .time,
  .date {
    font-size: 1em; /* 시간, 날짜 폰트 크기 조정 */
  }

  .flip-button {
    font-size: 1rem; /* 버튼 폰트 크기 조정 */
    padding: 8px 16px; /* 버튼 여백 조정 */
  }
}
