* {
  padding: 0;
  margin: 0;
}
body {
  overflow: hidden;
}

.container {
  text-align: center;
  padding: 30px;
  transition: all 0.5s ease;
  width: 100vw;
  height: 100vh;
}

/* 날씨별 배경 스타일 */
.clear {
  background: url("./image/clear.jpg") no-repeat center center/cover;
}

.cloudy {
  background: url("./image/cloudy.jpg") no-repeat center center/cover;
}

.rainy {
  background: url("./image/rainy.jpg") no-repeat center center/cover;
}

.snowy {
  background: url("./image/snowy.jpg") no-repeat center center/cover;
}

.foggy {
  background: url("./image/foggy.jpg") no-repeat center center/cover;
}

.default {
  background: linear-gradient(#888, #333);
}

/* 기타 요소 스타일 */
.search-box input {
  padding: 8px;
  width: 200px;
  margin-right: 8px;
}

.weatherInfo {
  display: block;
  margin: 20px 0;
  font-size: 18px;
}

.container * {
  margin: 10px auto;
  max-width: 95%;
}

.container h1 {
  font-size: 3em;
}
.weatherInfo {
  font-size: 1.5em;
}
.data {
  font-size: 25px;
  color: black;
}
.time {
  font-size: 20px;
  font-weight: 700;
  color: black;
}
